<div class="container">

  <div>
    <div class="buttons-container">

      <button (click)="auth()">Authenticate</button>
      <button (click)="logOut()">Log out</button>
      <br>
      <button routerLink="">Get back</button>

    </div>
  </div>

  <div>

    <form (ngSubmit)="saveCountry(newCountryForm.value)" #newCountryForm="ngForm" class="form-container">
      <div class="form-container__inputs-container">
        <label for="name">Country name</label>
        <input id="name" type="text" name="name" placeholder="Insert country name" ngModel>
      </div>

      <div class="form-container__inputs-container">
        <label for="capital">Country capital</label>
        <input id="capital" type="text" name="capital" placeholder="Insert capital name" ngModel>
      </div>

      <div class="buttons-container">
        <button type="submit">Save country</button>
      </div>
    </form>

  </div>

</div>

<div *ngIf="countryArray">

  <h2>Paises array task 3 / Angular 4 (Formularios)</h2>

  <ul>
    <li *ngFor="let x of countryArray">
      Pais: {{x.name}}<br>
      Capital: {{x.capital}}
    </li>
  </ul>
</div>

<div *ngIf="flag" class="flags-container">

  <ul>
    <li *ngFor="let country of countries; let i = index" class="animate__animated animate__fadeInLeft animate__slow">
      <img [src]="country.flags.svg" alt=""> {{country.name.common}}
    </li>
  </ul>

</div>
